[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
langchain = "*"
langchain-ollama = "*"
langgraph = "*"
pydantic = "*"
dateparser = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

